<!-- template header.html -->
{% load extra_tags ui_registry i18n extra_filters markup %}


  <div id="topBar">  
    <a href="{{settings.APP_BASE_URL}}"><img src="/m/nuxeo/media/images/nuxeo-answers.png" width="277" height="35" alt="Nuxeo Answers"/></a>

    <div id="links">
            {% loadregistry header_links %}{% endloadregistry %}
        </div>
  <div class="clear"></div>
    </div>
        {% if settings.USE_ANNOUNCEMENT_BAR|or_preview:request %}
  <div id="announcement">
      {{ settings.ANNOUNCEMENT_BAR|or_preview:request|static_content:settings.ANNOUNCEMENT_BAR_RENDER_MODE }}
  </div>
  {% endif %}

<div id="roof">
    <div class="ask"><a href="{% url ask %}" class="special questionBtn">{% trans "ask a question" %}</a></div>
    <div id="nav">
        {% loopregistry page_top_tabs %}{% spaceless %}
            <a id="nav_{{ tab_name }}"{% ifequal tab tab_name %} class="on"{% endifequal %} href="{{ tab_url }}" >{{ tab_title }}</a>
        {% endspaceless %}{% endloopregistry %}
    </div>
    <div id="searchBar">
      <form action="{% url search %}" method="get">
        <div class="searchContainer">
            <input type="text" class="searchInput" value="{{ keywords }}" name="q" id="keywords" />
            <input type="submit" name="Submit" value="{% trans "search" %}" class="searchBtn" />
        </div>
        <div class="options">
            <input id="type-question" type="radio" value="question" name="t" 
                checked="checked" /><label for="type-question">{% trans "questions" %}</label>
            <input id="type-tag" type="radio" value="tag" name="t" /><label for="type-tag">{% trans "tags" %}</label>
            <input id="type-user" type="radio" value="user" name="t" /><label for="type-user">{% trans "users" %}</label>
        </div>
       </form>
     </div>
  <div class="clear"></div>
  </div>




<!-- end template header.html -->
